{% extends 'base.html' %}

{% block title %}
	EDULICIOUS - Logout
{% endblock title %}

{% block body %}
    
    <div class="container">
        <div class="my-3">
            <h1 class="text-center">
                It was good to see you at EDULICIOUS.
                <br>
                Hope to see you soon!
            </h1>
            <br>
            <br>
            <hr width="80%" style="color: lawngreen; height: 4px; background-color: lawngreen;"></hr>
            <h5 class="text-center">Enter into EDULICIOUS again!  <a style="color: lime;" href="/login">Log In again</a> </h5>
        </div>
    </div>
        
{% endblock body %}