{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
	EDULICIOUS - Password Reset Confirm
{% endblock title %}

{% block body %}
    
    <div class="container">
        <div class="my-3">
            <h1 class="text-center">
                Password Reset Confirm
            </h1>
        </div>
        <div class="card" style="background-color: black;">
            <article class="card-body mx-auto" style="max-width: 700px;">
                
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Reset Password</button>
                    </div>
                </form>
            </article>
            </div>
    </div>

{% endblock body %}